{% extends "base.html" %}
{% block title %}Ничего не найдено{% endblock %}
{% block btn_head %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
    <section class="section container w-50 py-2 mt-auto mb-auto shadow-sm bg-white rounded">
        <h1 class="section-title text-center mb-3">Страница не найдена. Код 404.</h1>
        <a class="btn btn-success w-100" href="{{ url_for('home.index') }}">Вернуться</a>
    </section>
</div>
{% endblock %}