{% extends "layouts/base.html" %}
{% block title %}{{ error.name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
    <section class="section container w-50 py-2 mt-auto mb-auto shadow-sm bg-white rounded">
        <h1 class="section-title text-center mb-3">{{ error.name }}. Код {{ error.code }}.</h1>
        <div class="m-3"><span class="fw-bold">Описание:</span> {{ error.description }}</div>
        <a class="btn btn-success w-100" href="{{ url_for('home.index') }}">Вернуться на главную</a>
    </section>
</div>
{% endblock %}