html, body{
    height:100% !important;
    background-image: url('../img/back.png');
}

a:hover{
    text-decoration: none !important;
}

article {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    background-color: #efefef;
}

.home-menu-container {
    height:76vh;
}

.home-menu-item-1 {
    background-color: rgba(38, 198, 218, .9) !important;
    border-radius: 1rem 0 0 1rem !important;
}

.home-menu-item-2 {
    background-color: rgba(43, 175, 43, .9) !important;
    border-radius: 0 1rem 1rem 0 !important;
}

.home-menu-item-1:hover, .home-menu-item-1:active {
    background-color: #00acc1 !important;
}

.home-menu-item-2:hover, .home-menu-item-2:active {
    background-color: #0a8f08 !important;
}